name: ci
on:
  push:
  pull_request:
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Ensure gofmt
      run: test -z "$(gofmt -s -d .)"
    - name: Ensure go.mod is already tidied
      run: go mod tidy && git diff --no-patch --exit-code
    - name: Run unit tests
      run: go test -v -race ./...
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v3
      with:
        distribution: goreleaser
        version: latest
        args: release --snapshot --rm-dist
